.button {
  cursor: pointer;
  background-color: blue;
  font-size: 1.5rem;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.button:hover {
  color: #000;
  background-color: rgb(240, 240, 155);
  transition: all 0.5s ease;
}
